@import "tailwindcss";

.debug {
  border: 1px solid #f00;
}

body {
  font-family: "Geist Mono", monospace;
}
button{
  cursor: pointer;
}

.form-inp {
  @apply w-60 rounded bg-white/10 p-1 text-white;
}
.form-btn {
  @apply w-60 rounded bg-slate-500 p-1;
}
